.socials {
    @media (max-width: 500px ) { 
        margin: 0 auto;
    }
    box-sizing: border-box;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
}

.socials__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.social {
    @media (max-width: 800px ) { 
        font-size: 1em;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    margin-bottom: 30px;
    background: $blue-light;
    font-size: 3em;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    a {
        color: #fff;
        &:hover {
            color: blue;
        }
    }
    span {
        font-size: .8em;
        color: #000;
    }
}